<% content_for :styles do %>
	<style type="text/css">
		li {
			word-wrap: break-word;
		}
	</style>
<% end %>
<h2 class="text-white" style="font-weight: bold;">RESEARCH</h2>
<hr>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Prevalence of Anxiety and Depression in India & the world&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28838903" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28838903</a></li></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/11411185" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/11411185</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28942743" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28942743</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28939188" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28939188</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28925048" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28925048</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28917391" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28917391</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28906345" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28906345</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28889048" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28889048</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28945931" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28945931</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28945136" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28945136</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28945659" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28945659</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28945524" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28945524</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28945181" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28945181</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28942806" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28942806</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28942805" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28942805</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28942748" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28942748</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28941113" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28941113</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28942056" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28942056</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28941087" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28941087</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28945931" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28945931</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28939545" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28939545</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28941110" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28941110</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28932136" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28932136</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4539868/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4539868/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3146226/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3146226/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4994789/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4994789/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4944323/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4944323/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4129138/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4129138/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5573556/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5573556/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3227807/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3227807/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4252879/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4252879/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3136931/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3136931/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4140513/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4140513/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3274506/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3274506/</a></li>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Evaluation of Cognitive Behavioural Therapy&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4571290/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4571290/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4082238/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4082238/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3150380/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3150380/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3450431/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3450431/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3697075/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3697075/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4610618/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4610618/</a></li>
			</div>
		</div>
		<div class="card">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Computerized CBT&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3049866/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3049866/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4750912/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4750912/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4667374/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4667374/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4490722/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4490722/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5336676/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5336676/</a></li>
			</div>
		</div>
		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Depression, Anxiety, Insomnia inventories&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5336676/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5336676/</a></li>
				<li><a href="https://www.jaxhealth.com/app/files/public/10161/burns-depression.pdf" target="_blank">https://www.jaxhealth.com/.../burns-depression.pdf</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3760870/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3760870/</a></li>
				<li><a href="http://www.campbellteenfamilytherapy.com/uploads/8/9/0/9/8909719/burnsanxiety.pdf" target="_blank">http://www.campbellteenfamilytherapy.com/.../burnsanxiety.pdf</a></li>
				<li><a href="https://www.ons.org/sites/default/files/InsomniaSeverityIndex_ISI.pdf" target="_blank">https://www.ons.org/sites/.../InsomniaSeverityIndex_ISI.pdf</a></li>
			</div>
		</div>
		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Emotions&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4689475/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4689475/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4118988/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4118988/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4269457/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4269457/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4550404/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4550404/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4569532/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4569532/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2908186/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2908186/</a></li>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Cortisol&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4084606/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4084606/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4018216/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4018216/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3963409/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3963409/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4280712/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4280712/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3110569/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3110569/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5526346/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5526346/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3948282/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3948282/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4158382/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4158382/</a></li>
			</div>
		</div>

		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            DHEA&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28946055" target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/28946055 </a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4126777/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4126777/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3746247/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3746247/</a></li>
			</div>
		</div>
		
	</div>
	<div class="col-md-6">
		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Environment&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5517019/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5517019/ </a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4843770/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4843770/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3673559/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3673559/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5399806/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5399806/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5072401/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5072401/</a></li>
			</div>
		</div>
		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Acceptance Therapy &nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4900501/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4900501/ </a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4748004/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4748004/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609879/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609879/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5501894/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5501894/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5472113/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5472113/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3906193/ " target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3906193/ </a></li>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Adrenaline&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3412918/ " target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3412918/ </a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4831313/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4831313/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4013292/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4013292/</a></li>
				<li><a href="http://www.mckendree.edu/academics/scholars/issue17/mckinney.htm" target="_blank">http://www.mckendree.edu/academics/.../mckinney.htm</a></li>
				
			</div>
		</div>
		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Mindfulness vs Catastrophizing&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3906193/ " target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3906193/ </a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3395358/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3395358/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5506231/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5506231/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5408039/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5408039/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4526594/ " target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4526594/ </a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3395338/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3395338/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3899282/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3899282/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609879/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609879/</a></li>
				
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Exposure Therapy&nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">

				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4114726/ " target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4114726/ </a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4464974/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4464974/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3758433/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3758433/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4801774/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4801774/</a></li>
				<small class="hint">( Debatable/Questionable research: d-Cycloserine is a glutamatergic N-methyl-d-aspartate receptor agonist that has been shown to facilitate the benefits of exposure therapy for anxiety disorders by enhancing the emotional learning in the exposures )</small>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3384187/ " target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3384187/ </a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4030404/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4030404/</a></li>
			</div>
		</div>

		<div class="card" style="overflow: hidden;">
			<div class="card-header" style="text-align: left;">
				<div class="card-title">
	          <span class="font-montserrat all-caps" style="font-size: 14px;">
	            Flooding Therapy &nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
	          </span>
	        </div>
			</div>
			<div class="card-block" style="text-align: left; font-family: Montserrat; font-weight: bold;">
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3347982/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3347982/ </a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3427616/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3427616/</a></li>
				<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4114726/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4114726/</a></li>
				
			</div>
		</div>
	</div>
</div>
<hr>
<p class="text-white">Want the entire list? Contact us at <strong>hello@calmindia.com</strong> for the full list of research papers. Available only for students, academic researchers, medicare executives and medical decision makers.</p>
