 <style type="text/css">
 @media (min-width: 768px) {
    .ttc
    {
      text-align:left !important;
    }

    .card20
    {
      margin-top:30px;
    }
  }
    @media (max-width: 767px) {
      .crow2
      {
        margin-top:20px;
      }
      .ttc {
        text-align: center !important;
      } 
      .ttc ul
      { text-align:center !important;
        list-style-type:none !important;}
          .card20
    {
      padding-top:10px !important;
    }
    }
  
  </style>
<br>
<br>
  <div class="col-md-12" style="margin-bottom: 20px;">
    <%= image_tag "racoon-hero.png", height: '250px'%>
  </div>

<div class="row calmrow">

  <div class ="clearfloat" style="clear:both;">
  </div>

  <div class="col-md-6 ttc order-2 crow2" style="padding:40px; padding-top:5px; font-family: Roboto;">
    <h1 class="text-white text-xs-center" style="font-weight: bold; font-size:34px; ">Be a better you!</h1>
     <hr style="opacity:0.3;">
    <br>
    <ul class="text-xs-center" style="text-align: left; padding:0; margin:0;">
      <li class="text-white"><h4 class="text-white" style=" font-size:16px; font-family: Roboto;">Developed based on Cognitive Behavorial Therapy</h4></li>
      <li class="text-white"><h4 class="text-white" style=" font-size:16px;font-family: Roboto;">Referenced from science backed research papers</h4></li>
      <li class="text-white"><h4 class="text-white" style=" font-size:16px;font-family: Roboto;">Comprehensive videos, audio books and flash cards</h4></li>
      <li class="text-white"><h4 class="text-white" style=" font-size:16px;font-family: Roboto;">Anytime, anywhere!</h4></li>
    </ul>
    <br/>
  </div>
  <div class="col-md-6 flex-first flex-md-unordered">
    <div class="card card20" style="height:350px; padding-top: 70px;">
    <div class="card-header">
      <div class="card-title">
        <span class="font-montserrat all-caps" style="font-size: 14px;">
          Connect using facebook
        </span>
      </div>
    </div>
    <div class="card-block" >
      
      <p>Welcome to the most powerful mental health platform in India!
        <br/>
      Sign up or Login if you've already registered.</p>
      <br>
      <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-block btn-lg m-b-5', style: 'background-color: #3b5998;' do %>
        <i class="fa fa-facebook" style="color:white;"></i> &nbsp;&nbsp;<span style="color: white; font-weight: bold;">Connect</span>
      <% end %>
    </div>
  </div>
  <p class="text-white">We do not collect any personal information and your Facebook details will solely be stored for login purposes.</p>
  </div>
</div>