<p>Hi <%= @refer_name %>,</p>
<p></p>
<p>Your friend <%= @name %> invited you to be a part of Calm India. It’s a 4 week fun and easy to digest online web series based program on building mental resilience. </p>
<p></p>
<p>The program focuses on how you could gain control of your mind scientifically and build resilience to stress. No pseudoscience. No bullshit. </p>
<p></p>
<p>To achieve a calmer, less reactive and more focussed version of yourself, check out Calm India <a href="http://calmindia.com">here</a>.</p>
<p></p>
<p>All the best!</p>