<p>Hi there!</p>
<p>Your friend <%= @name %> has recommended you to check out Calm India.</p>
<p>Click <a href="http://course.calmindia.com/users/sign_up">here</a> to sign up, and get started!</p>
<p>

We hope you have an amazing time!