<p>Hi <%= @refer_name %>,</p>
<p></p>
<p>Your friend <%= @name %> invited you to be a part of <a href="http://calmindia.com">Calm India</a>. It’s a 4 week fun and easy to digest online web series on building mental resilience. </p>
<p></p>
<p><a href="http://calmindia.com">The program</a> focuses on how you could gain control of your mind scientifically and build resilience to stress. No pseudoscience. No bullshit. </p>
<p></p>
<p>You can achieve a calmer, less reactive and more focused version of yourself, <a href="http://calmindia.com">give Calm India a spin now!</a></p>
<p></p>
<p>All the best!</p>