<p>Welcome to Calm India!</p>
<p></p>
<p>Thank you for joining our family of folks dedicated to the cause of mental health in India.</p>
<p>Packed in this course, you will find the tools that enable you to tackle the stress of daily life in 2017.</p>
<p></p>
<p>Based on the proven Cognitive Behavioral Therapy model, our content is based on findings from more than 1400 research papers and is effective in helping individuals with anxiety, depression and sleep disorders.
The course contains video lectures that explain how the mind works from a scientific perspective. On top of this, we give you several strategies to harness thoughts, emotions and behaviors to enable you to be your most productive self.
The course also contains an audiobook and illustrated slide decks that help tackle specific issues that will help you develop a less reactive mind. 
<p></p>
<p>We sincerely believe this 4 week course will take you closer to your best self. Once again, thank you for taking part in our cause. Let's make India calm again!</p>
<p></p>
<p>You can login to your account and start the course <a href="http://course.calmindia.com/users/sign_in">here</a></p>
<p></p>
<p>Best wishes,</p>
<p>Team CalmIndia.</p>